.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-default > .panel-heading {
  background-color: cadetblue;
  font-weight: bold;
  color: white;
}

tr, th {
  text-align: center;
}

.table tbody > tr.expired {
  background-color: rgba(247, 168, 170, 0.54) !important;
}

a {
  color : cadetblue;
}

small {
  color: red;
}

body, html, #main-body {
  height: 100%;
  margin: 0;
}

#background {
  background-image: url("./images/cover.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#form {
  background-color: rgba(95, 158, 160, 0.7)
}

#register, #loginTitle{
  text-align: center;
  color: white;
}

p {
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
}

#signupLink, #logLink {
  color: whitesmoke;
}
